div.reminder-entry {
  width:100%;
  border: thin solid lightgray;
  padding: 10px;
  margin-bottom:10px;
}

#reminder_add {
  display:inline-block;
  width:80%;
  border-right:thin solid lightgray;
  height:100%;
  padding:20px;
}

#reminder_list {
  display: inline-block;
  width: 50%;
  margin-left:428px;
  height: 100%;
  padding: 10px 20px 20px 20px;
}

input.time-part, div.time-part { width:49%; display:inline-block; }
span.inline { display:inline; }
#reminder_time { width:72%; }
.login-form { width: 33%; }
#content { margin-top: 75px; }
.fixed { position:fixed; }